{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="section category">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
            </ul>
        </nav>
        <h1 class="title">{{ title }}</h1>
        <div class="notification is-primary">{{ description }}</div>

        {% if products|length > 0 %}
            <div class="columns products is-multiline">
                {% for product in products %}
                    <div class="column is-one-quarter">
                        {{ include('category/_product.html.twig', { product: product }) }}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="buttons is-centered">
            <a class="button is-rounded is-centered is-link" href="{{ path('homepage') }}">
                No result here.
                Go to home
            </a>
            </div>
        {% endif %}
    </div>

{% endblock %}
