{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | {{ product.category.name }}{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">{{ product.name }}</h1>
            <h2 class="subtitle">{{ product.category.name }}</h2>
        </div>
    </section>

    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li><a href="{{ path('category', { id: product.category.id }) }}">{{ product.category.name }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ product.name }}</a></li>
            </ul>
        </nav>

        <div class="box columns" id="product">
            <div class="column is-one-third">
                <figure class="image is-4by3">
                    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                </figure>
            </div>
            <div class="column is-two-thirds">
                <div class="is-flex is-justify-content-space-between is-align-items-baseline">
                    <p class="title">{{ product.name }}</p>
                    <div class="tags are-large">
                        <span class="tag is-primary is-rounded">
                            {{ (product.price / 100)|format_currency('EUR') }}
                        </span>
                        {% if product.inSale %}
                            <span class="tag is-warning is-rounded">PROMO</span>
                        {% endif %}
                    </div>
                </div>

                <div class="is-flex is-justify-content-space-between is-align-items-baseline">
                    {% if product.variants|length > 0 %}
                        <div class="select is-rounded is-medium is-warning">
                            {% verbatim %}<select name="variant" @change="setVariant($event.target.value)">{% endverbatim %}
                                <option>Couleur...</option>
                                {% for variant in product.variants %}
                                    <option value="{{ variant.id }}">{{ variant.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% verbatim %}
                    <div class="is-flex is-align-items-baseline">
                        <p >Quantité : {{ qty }}</p>
                        <div class="buttons ml-2">
                            <button class="button is-danger" @click="decreaseQty">-</button>
                            <button class="button is-success" @click="increaseQty">+</button>
                        </div>
                        <p class="has-text-weight-bold ml-2">Total : {{ total }} €</p>
                    </div>
                    {% endverbatim %}
                </div>

                <div class="tabs is-boxed is-medium">
                    {% verbatim %}
                    <ul>
                        <li
                         :class="{ 'is-active': 'details' === activeTab }"
                         @click="activeTab = 'details'"
                        ><a>Détails</a></li>
                        <li
                          v-if="0 < nbComments"
                          :class="{ 'is-active': 'comments' === activeTab }"
                          @click="activeTab = 'comments'"
                        ><a>Commentaires</a></li>
                    </ul>
                    {% endverbatim %}
                </div>
                {% verbatim %}<div class="content" v-if="'details' === activeTab">{% endverbatim %}
                  {{ product.details|nl2br }}
                </div>
                {% verbatim %}<div class="content" v-else-if="0 < nbComments">{% endverbatim %}
                    <ul>
                        {% for comment in product.comments %}
                            <article class="message is-dark">
                                <div class="message-header is-flex">
                                    <p>{{ comment.date|date("j F Y à H:i") }}, par {{ comment
                                        .author }}</p>
                                    <p>({{ comment.note }}/5)</p>
                                </div>
                                <div class="message-body">
                                    {{ comment.comment }}
                                </div>
                            </article>
                        {% endfor %}
                    </ul>
                </div>
                {% if product.comments|length > 0 %}
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        let app = Vue.createApp({
            data: () => ({
                activeTab: 'details',
                maxQty: 0,
                nbComments: {{ product.comments|length }},
                price: {{ product.price }},
                qty: 0,
                variant: null,
            }),
            computed: {
                total() {
                    return Math.round(this.qty * this.price) / 100;
                },
            },
            methods: {
                setVariant(value) {
                    this.variant = value;
                },
                decreaseQty() {
                    if (0 < this.qty) {
                        this.qty--;
                    }
                },
                increaseQty() {
                    this.qty++;
                },
            },
            watch: {
                variant(newValue, oldValue) {
                    this.qty = 0;
                },
            },
        }).mount('#product');
    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/vue@next"></script>
{% endblock %}
