{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | {{ product.category.name }}{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">{{ product.name }}</h1>
            <h2 class="subtitle">{{ product.category.name }}</h2>
        </div>
    </section>

    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                <li><a href="{{ path('category', { id: product.category.id }) }}">{{ product.category.name }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ product.name }}</a></li>
            </ul>
        </nav>

        <div class="box columns">
            <div class="column is-one-third">
                <figure class="image is-4by3">
                    <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                </figure>
            </div>
            <div class="column is-two-thirds">
                <div class="is-flex is-justify-content-space-between is-align-items-baseline">
                    <p class="title">{{ product.name }}</p>
                    <div class="tags are-large">
                        <span class="tag is-primary is-rounded">
                            {{ (product.price / 100)|format_currency('EUR') }}
                        </span>
                        {% if product.inSale %}
                            <span class="tag is-warning is-rounded">PROMO</span>
                        {% endif %}
                    </div>
                </div>

                {% if product.variants|length > 0 %}
                    <div class="select is-rounded is-medium is-warning">
                        <select name="variant">
                            <option>Couleur...</option>
                            {% for variant in product.variants %}
                                <option value="{{ variant.id }}">{{ variant.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                {% verbatim %}
                <div id="qty" class="is-flex is-align-items-baseline">
                    <p >Quantité : {{ qty }}</p>
                    <div class="buttons ml-2">
                        <button class="button is-danger" @click="qty--">-</button>
                        <button class="button is-success" @click="qty++">+</button>
                    </div>
                    <p class="has-text-weight-bold ml-2">Total : {{ total }} €</p>
                </div>
                {% endverbatim %}

                <div class="content mt-6">
                    <p class="subtitle is-4">Détails</p>
                    {{ product.details|nl2br }}
                </div>
                {% if product.comments|length > 0 %}
                    <h3 class="subtitle is-4">Commentaires</h3>
                    <ul>
                        {% for comment in product.comments %}
                            <article class="message is-dark">
                                <div class="message-header is-flex">
                                    <p>{{ comment.date|date("j F Y à H:i") }}, par {{ comment
                                        .author }}</p>
                                    <p>({{ comment.note }}/5)</p>
                                </div>
                                <div class="message-body">
                                    {{ comment.comment }}
                                </div>
                            </article>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        let app = Vue.createApp({
            data: () => ({ qty: 0, price: {{ product.price }} }),
            computed: {
                total() {
                    return Math.round(this.qty * this.price) / 100;
                },
            },
        }).mount('#qty');
    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/vue@next"></script>
{% endblock %}
